@import "tailwindcss";

@font-face {
  font-family: 'FS Rosa';
  src: url('/FS.Rosa/FS Rosa Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'FS Rosa';
  src: url('/FS.Rosa/FS Rosa Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'FS Rosa';
  src: url('/FS.Rosa/FS Rosa Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FS Rosa';
  src: url('/FS.Rosa/FS Rosa Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'FS Rosa';
  src: url('/FS.Rosa/FS Rosa Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --background: #fdfcf8;
  --foreground: #1a1a1a;
  
  --primary: #70bfa3;
  --primary-foreground: #1a1a1a;
  
  --card: #ffffff;
  --card-foreground: #1a1a1a;
  
  --border: #1a1a1a;
  --muted: #f0eee5;
  --muted-foreground: #4a4a4a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
